$primary-color: #ff5c00;

$color_3: #11101d;

$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;

$tilt-green: #0098A6;
$tilt-green-dark: #008692;


$tilt-purple: #5a4bad;
$tilt-purple-dark: #42377f;